.main {
  border: 1px solid orange;
  width: 50%;
  margin: 1rem auto;
}
.line {
  text-decoration: line-through;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.align {
  border: "1px solid orange";
  background-color: #90ee90;
  margin: 1rem auto;
}
